
<footer class="footer-distributed">

	<div class="footer-left">

		<h3>Community<span>ServesUs</span></h3>

		<p class="footer-links">
			<a href="/">Home</a>
			·
			<a href="#">Blog</a>
			<!-- ·
			<a href="#">Pricing</a> -->
			·
			<a href="#">About</a>
			·
			<a href="#">Faq</a>
			<!-- ·
			<a href="#">Contact</a> -->
		</p>

		<p class="footer-company-name">CommunityServesUs &copy; 2017</p>
	</div>

				<p class="footer-links">
					<a href="/">Home</a>

					<a href="/faq">Faq</a>

					<a href="/contact">Contact</a> -->
				</p>

	<div class="footer-center">


		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>1547 Mission St</span> San Franciscos, USA</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>+1 (415) 814-0980</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:support@company.com">support@company.com</a></p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>About Our Site</span>
			"Our mission is to provide the public with an easy way to access and recruit their community for community service."
		</p>

		<div class="footer-icons">

			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/dirtyspritecodr"><i class="fa fa-twitter"></i></a>
			<a href="https://www.linkedin.com/in/donovan-adams-079238b9/"><i class="fa fa-linkedin"></i></a>
			<a href="https://github.com/Doncurt/CommunityServeUs"><i class="fa fa-github"></i></a>

		</div>

	</div>

</footer>
