<link rel='stylesheet' type='text/css' href='contact.css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<section class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-lg-12">
          <h6 class="description">OUR TEAM</h6>
          <div class="row pt-md">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://nabeel.co.in/files/bootsnipp/team/1.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Jake Tran</h1>
              <h2>Co-founder/ Head UI Development</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://nabeel.co.in/files/bootsnipp/team/2.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Donovan Adams</h1>
              <h2>Co-founder/ Head of UX Development</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

 </div>

</section>
<div class="container">
 <div class="row-fluid">
       <div class="span8">
          <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.7050240331246!2d-122.41999608505284!3d37.77351417975968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085807f8bd4d441%3A0xd4618e6f27febe26!2sMake+School!5e0!3m2!1sen!2sus!4v1513148165334" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>></iframe>
     </div>

       <div class="span4">
       <h2>Contact us</h2>
       <address>
         <strong>Community Serves US</strong><br>
         1547 Mission Street<br>
         San Francisco, CA<br>
         94108<br>
         <abbr title="Phone">P:</abbr> 858-652-8786
       </address>
     </div>
   </div>
</div>
</div>
