
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form method="POST" action="/posts">
      <legend>New Sub-Putit</legend>
      <div class="form-group">
        <label for="subreddit">Subreddit</label>
        <input type="text" name="subreddit" class="form-control" id="post-subreddit" placeholder="Title" value="{{posts.subreddit}}"></input>
      </div>
      <legend>New Post</legend>
      <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" name="title" class="form-control" id="post-title" placeholder="Title" value="{{posts.title}}"></input>
      </div>
      <div class="form-group">
        <label for="post-url">Url</label>
        <input type="url" name="url" class="form-control" id="post-url" placeholder="https://www.google.com" value="{{posts.url}}"></input>
      </div>
      <div class="form-group">
        <label for="post-summary">Summary</label>
        <textarea name="summary" class="form-control" id="post-summary" placeholder="Title" value="{{posts.summary}}"></textarea>
      </div>

      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Reply<button>
      </div>


    </form>
  </div>
</div>
