html, body {
    overflow-y: scroll;
}

body {
  background-color: #252528;
}

.navbar {
  background-color: #404248 !important;
}

.navbar-brand {
    position: relative !important;
    top: -10px !important;
}

.navbar-right {
    position: relative !important;
    top: -10px !important;
}

.container-fluid {
    padding-top: 15px;
}


.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 25px 25px 25px 25px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #2DDDB3;
  left: initial;
  font-size: 14px;
}

.brand-icon {
  color: #2DDDB3;
}

.navbar-brand {
  font-size: 25px;
}
